<!DOCTYPE html>
<html>
	<head>
		<title>Express Blog</title>
	</head>
	<body>
		<h1>Add new post</h1>
		<form method='post'>
			<input type="text" name="title" />
			<textarea name='content'></textarea>

			<button> Submit </button>
		</form>
	</body>
</html>